Add an "Exit Node" option to only route routable internet addresses (excluding private, test and special)

**Is your feature request related to a problem? Please describe.**
The "Exit Node" may route to destinations not desired, e.g. RFC1918 address space. It would be useful for those who know about such things, to include a tick-box saying "exclude Bogons". A bogon is an IP address range which has not been allocated by IANA or one of their delegates.

**Describe the solution you'd like**
Ticking this box would change the route from 0.0.0.0/0 to a collection of routes, as listed here: https://www.cidr-report.org/bogons/allocspace-prefix.txt

**Describe alternatives you've considered**
You could exclude RFC1918 addresses (10/8, 172.16/12. 192.168/16), plus the RFC5737 addresses (192.0.2/24, 198.51.100/24 and 203.0.113/24) and RFC2544 (198.18/15), and the other "special" subnets (0/8, 100.64/10, 169.254/16, 192/24, 192.88.99/24, 224/4, 240/4).


Is there any Progress on this? I think quite a lot of people wanna route their roadwarriors internet traffic through the tunnel but not expose the full lan / dmz to vpn?

this really would be helpful, especially with always on vpn. my phone cant cast to anything because the mdns addresses route though the exit node. right now i toggle off the exit node. this would solve the issue.